:root {
    --padding-vertical: 10px;
    --padding-horizontal: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.navbar-reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar-reset img {
    width: 50px;
    height: 50px;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a {
    position: relative;
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.navbar-links a:hover {
    color: #0056b3;
    /* Slightly darker on hover */
}

.navbar-links a:hover::after {
    width: 100%;
    /* Expands underline */
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.about-me-container-information,
.about-me-container-avatar {
    width: 50%;
    box-sizing: border-box;
}

.about-me-container-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container-avatar img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}

.about-me-container-information h1 {
    background: linear-gradient(90deg, #007bff, #6f42c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #6f42c1;
    width: 0;
    animation: typing 2s steps(20, end) forwards,
        blink 0.8s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 72%;
    }
}

.about-me-container-buttons button {
    background-color: #3a4a6d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    width: 150px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.about-me-container-buttons button:hover {
    background-color: #0056b3;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.4);
}

.about-me-container-buttons button:active {
    transform: scale(0.95);
    box-shadow: 0 3px 8px rgba(0, 123, 255, 0.3);
}